main {
  display: flex;
}
h2 {
  flex-grow: 1;
}
.fa.fa-add {
  font-size: 2rem;
}
.addButton {
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid black;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  z-index: 999;
}
.loader-wrapper {
  height: 100vh;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.table-wrapper {
  height: 400px;
  overflow: auto;
}
